<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/amw3/src/Interpreter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Interpreter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="test.npj"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="amw3"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dnpj.heap.size=65537"/>
</launchConfiguration>
